div {
	max-width: 400px;
	min-width: 100px;
}

titletext {
	color:white;
	font-family:verdana;
	font-size:25px;
	position: absolute;
	top: 280px;
	left: 300px;
}

belowtitle {
	color:white;
	font-family:verdana;
	font-size:10px;
	position:absolute;
	top:365px;
	left:275px;
}

maintext {
	color:black;
	font-family:arial;
	font-size:15px;
	text-align:left;
	position: absolute;
	top: 800px;
}

a {
	background-color: #505050;
	box-shadow: 0 5px 0 #212121;
	color: white;
	padding: 1em 1.5em;
	position: relative;
	text-decoration: none;
	text-transform: uppercase;
	border-radius: 10px;
}

a:hover {
	background-color: #3f3f3f;
	cursor: pointer;
}

a:active {
	box-shadow: none;
	top: 5px;
}

p {
	position: absolute;
	top: 50px;
}

body {
    background-image: url(img/background.jpg);
    background-repeat: no-repeat;
    background-position: top;
}

.container {
  position: relative;
  width: 50%;
}

.image {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #008CBA;
}

.container:hover .overlay {
  opacity: 1;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}