div {
	left: 10px;
	max-width: 1080px;
	min-width: 100px;
}

titletext {
	color:white;
	font-family:verdana;
	font-size:25px;
	position: absolute;
	top: 280px;
	left: 300px;
}

belowtitle {
	color:white;
	font-family:verdana;
	font-size:10px;
	position:absolute;
	top:365px;
	left:275px;
}

maintext {
	color:black;
	font-family:arial;
	font-size:25px;
	text-align:left;
	position: absolute;
	top: 800px;
}

a {
	background-color: #505050;
	box-shadow: 0 5px 0 #212121;
	color: white;
	padding: 1em 1.5em;
	position: relative;
	text-decoration: none;
	text-transform: uppercase;
	border-radius: 10px;
}

a:hover {
	background-color: #3f3f3f;
	cursor: pointer;
}

a:active {
	box-shadow: none;
	top: 5px;
}

p {
	position: absolute;
	top: 50px;
}

body {
    background-image: url(img/background.jpg);
    background-repeat: no-repeat;
    background-position: top;
}