div {
	max-width: 400px;
	min-width: 100px;
}

titletext {
	color:white;
	font-family:verdana;
	font-size:25px;
	position: absolute;
	top: 280px;
	left: 300px;
}

belowtitle {
	color:white;
	font-family:verdana;
	font-size:10px;
	position:absolute;
	top:365px;
	left:275px;
}

maintext {
	color:blue;
	font-family:arial;
	font-size:15px;
	text-align:left;
	position: absolute;
	top: 800px;
}

body {
    background-image: url(img/background.jpg);
    background-repeat: no-repeat;
    background-position: top;
}